<!DOCTYPE html>
<html lang="en">
{% load socialaccount %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="legular.">
    <meta name="author" content="Inovatik">
    <title>Регистрация</title>

	<meta property="og:site_name" content="sakura duty" />
	<meta property="og:site" content="sakuraduty.ru" /> 
	<meta property="og:title" content="Sakura"/>
	<meta property="og:description" content="Автоматизация профилей ВКонтакте." />
	<meta property="og:image" content="" />
	<meta property="og:url" content="https://vk.com/skr.community" /> 
	<meta property="og:type" content="article" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/fontawesome-all.css" rel="stylesheet">
    <link href="/static/css/swiper.css" rel="stylesheet">
	<link href="/static/css/magnific-popup.css" rel="stylesheet">
	<link href="/static/css/styles.css" rel="stylesheet">
	
    <link rel="icon" href="ссылка на svg логотип">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-awesome fas fa-bars"></span>
                <span class="navbar-toggler-awesome fas fa-times"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="index.html#header">Главная <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link page-scroll" href="index.html#features">Помощь</a>
                    </li>
       
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle page-scroll" href="#video" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">FAQ</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><span class="item-text">Безопасность</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="#"><span class="item-text">Правила пользования</span></a>
                            <div class="dropdown-items-divide-hr"></div>
                            <a class="dropdown-item" href="#"><span class="item-text">Обработка данных</span></a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <header id="header" class="ex-2-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Авторизация в системе</br>SAKURA</h1>
                    <div class="form-container">
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.username.id_for_label }}">Имя пользователя</label>
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            <label class="small mb-1" for="{{ form.password.id_for_label }}">Пароль</label>
                            {{ form.password }}
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a class="small" href="#">Забыли пароль?</a>
                            <div class="form-group">
                                <button type="submit" class="form-control-submit-button">Авторизоваться</button>
                            </div>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                            <a href="#">
                                <i class="fab fa-google fa-2x" style="color: #d9503e;"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-vk fa-2x" style="color: #4a658b;"></i>
                            </a>
                            <a href="{% provider_login_url 'github' %}">
                                <i class="fab fa-github fa-2x" style="color: #303030;"></i>
                            </a>

                        </div>
                    </form>
                </div>
                <div class="card-footer text-center"></div>
                    


                </div> 
            </div>
        </div> 
        </form>
    </header> 

    <script src="/static/js/jquery.min.js"></script> 
    <script src="/static/js/popper.min.js"></script> 
    <script src="/static/js/bootstrap.min.js"></script> 
    <script src="/static/js/jquery.easing.min.js"></script> 
    <script src="/static/js/swiper.min.js"></script> 
    <script src="/static/js/jquery.magnific-popup.js"></script>
    <script src="/static/js/validator.min.js"></script> 
    <script src="/static/js/scripts.js"></script> 
</body>
</html>